body {
    font-size: 16px;
    box-sizing: border-box;
    color: black;
    overflow-x: hidden;
    position: relative;
    text-align: right;
    direction: rtl;
    font-family: "GE-SS-Two-Light";
    background-color: #F6F6F6;
}

@font-face {
    font-family: "GE-SS-Two-Light";
    src: url("../fonts/GE_SS_Two_Light.otf");
}

@font-face {
    font-family: "sofiaPro";
    src: url("../fonts/sofiapro-light.otf");
}

@font-face {
    font-family: "GE-SS-Two-medium";
    src: url("../fonts/ArbFONTS-GE_SS_TWO_MEDIUM_5.otf");
}

@font-face {
    font-family: "GE-SS-Two-bold";
    src: url("../fonts/ArbFONTS-GE_SS_Two_Bold_4.otf");
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

form {
    margin: 0;
}

img {
    width: 100%;
}

:focus {
    outline: 0;
    box-shadow: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: "GE-SS-Two-medium";
}

h1,
h2,
h3 {
    font-family: "GE-SS-Two-bold";
}

a {
    color: black;
    transition: all .5s;
}

a:hover {
    text-decoration: none;
    transition: all .5s;

}

.topHeader {
    padding: 7px 0;
    background-color: white;
}

.logo {
    width: 110px;
    transition: .5s;
}

.mainMenu {
    background-color: #7D9D92;
    padding: 9px 0
}

.navbar {
    margin: auto;
}

.navbar-collapse {
    justify-content: center;
}

.searchBox {
    width: 466px;
    margin: auto;
    position: relative;
    margin-top: 9px
}

.searchInput {
    width: 100%;
    height: 48px;
    background-color: #FAFAFA;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
}

.searchIcon {
    position: absolute;
    left: 14px;
    width: 24px;
    top: 12px;
    border: 0;
    background-color: transparent;
}

.searchInput::placeholder {
    color: #707070;
    font-size: 1.125em;
}

.navbar-nav .nav-item {
    padding: 5px 10px;
    border-radius: 8px;
    margin-left: 29px;
}

.navbar-nav .nav-item:last-child {
    margin-left: 0
}

.navbar-nav .nav-item.active {
    background-color: rgba(210, 223, 214, .68);
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 1.125em;
    padding: 0
}

.profile::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-toggle::after {
    margin-right: 8px
}

.notificationsbtn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgba(206, 120, 71, .1);
    padding: 6px;
    position: relative;
}

.notifyNum {
    position: absolute;
    width: 17px;
    height: 17px;
    color: white;
    background-color: #E23535;
    border-radius: 50%;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    right: -5px;
    top: -5px;
    line-height: 19px;
}

.profileIcons {
    margin-top: 9px;
    float: left;
    width: 100%;
}

.notificationsbtn svg {
    animation: ring 5000ms infinite;
}

.notificationsbtn:hover .notifyNum {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    8.0% {
        transform: rotate(0deg);
    }

    12.0% {
        transform: rotate(52deg);
    }

    16.0% {
        transform: rotate(-48deg);
    }

    20.0% {
        transform: rotate(0deg);
    }

    23.0% {
        transform: rotate(42deg);
    }

    26.0% {
        transform: rotate(-30deg);
    }

    29.0% {
        transform: rotate(0deg);
    }

    31.0% {
        transform: rotate(26deg);
    }

    33.0% {
        transform: rotate(-18deg);
    }

    35.0% {
        transform: rotate(0deg);
    }

    37.0% {
        transform: rotate(-12deg);
    }

    40.0% {
        transform: rotate(6deg);
    }

    44.0% {
        transform: rotate(-3deg);
    }

    49.0% {
        transform: rotate(2deg);
    }

    55.0% {
        transform: rotate(0deg);
    }

    62.0% {
        transform: rotate(1deg);
    }

    70.0% {
        transform: rotate(0deg);
    }
}

.langBtn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgba(208, 173, 91, .1);
    padding: 3px;
    margin-right: 16px;
}

.langIcon {
    margin-left: 14px;
    width: 18px;
    ;
}

.dropdown-item {
    text-align: right;
}

.profileIcons .dropdown-item.active,
.profileIcons .dropdown-item:hover {
    background-color: rgba(125, 157, 146, .17);
}

.profileIcons .dropdown-item {
    color: #000000;
    opacity: .7;
    font-size: 0.875em;
    padding: 5px 12px;
    text-align: right;
}

.langBtn:hover svg {
    animation: heartBeat 2000ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.profile {
    margin-right: 33px;
}

.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 12px;
    float: right;
}

.userName,
.lang,
.notifications,
.profile {
    display: inline-block;
}

.userName .name {
    font-size: 1.125em;
}

.userName .validity {
    font-size: 1.125em;
    color: #707070;
}

.logo:hover {
    transform: scale(1.1);
    transition: .5s;
}

.profile .dropdown-item {
    padding: 14px 17px;
    position: relative;
    border-bottom: 1px solid rgba(112, 112, 112, .3);
}

.profile .dropdown-item:last-child {
    border-bottom: 0;
}

.dropdown-menu {
    min-width: 213px;
    z-index: 999999;
}

.profile .dropdown-menu {
    width: 280px
}

.dropdown-menu .triangle {
    display: block;
    position: absolute;
    width: 22px;
    height: 17px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(112, 112, 112, .3);
    left: 18px;
    top: -14px;
}

.dropdown-menu .triangle::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;

    /*  Left Border */
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(112, 112, 112, .3);

    /*  Top Border */
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(112, 112, 112, .3);

    /*  Bottom Border */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;

    /*  Rotate it to 45deg and skew  */
    transform: rotate(45deg) skew(10deg, 10deg);

    /*  Position it until you meet the corners  */
    left: -2px;
    bottom: -13px
}

.statistics {
    padding: 36px 0 28px
}

.container-fluid {
    width: 1292px
}

.statsticsBox {
    padding: 15px;
    text-align: center;
    height: 148px;
    border-radius: 8px;
}

.purbleBox {
    background-color: #8D8582;
}

.purbleBox .statsticsNum {
    color: #8D8582;
}

.statisticsIcon {
    margin: auto;
    height: 92px;
    max-width: 87px;
    margin-bottom: 8px;
    position: relative;
}

.statsticsNum {
    position: absolute;
    font-size: 2.3625em;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    left: 40%;
    top: 9px;
    z-index: 9999
}

.statsticsBox p {
    color: white;
    font-size: .875em;
}

.greenBox {
    background-color: #769F91;
}

.greenBox .statsticsNum {
    color: #769F91;
}

.orangeBox {
    background-color: #CC7847;
}

.orangeBox .statsticsNum {
    color: #CC7847;
    left: 42%;
    top: 14px;
}

.yellowBox {
    background-color: #D0AD5B;
}

.yellowBox .statsticsNum {
    color: #D0AD5B;
    left: 50%;
    top: 18px;
}

.mostInteractiveEmployee {
    float: right;
    width: 20%;
    margin-left: 33px;
    border-radius: 8px;
    background-color: white;
    ;
    padding-bottom: 30px;
    overflow: hidden;
}

.mostInteractiveEmployees {
    width: 77%;
    float: right;
    border-radius: 8px;
    background-color: white;
    ;
    overflow: hidden;
}

.EmployeeHeader {
    height: 64px;
    background-color: #90AFC4;
    padding: 14px 16px
}

.EmployeeHeader.yellowBox {
    background-color: #D0AD5B;
}

.EmployeeHeaderIcon {
    width: 40px;
    height: 37px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .28);
    display: inline-block;
    padding: 4px 7px;
    margin-left: 7px;
}

.EmployeeHeader p {
    display: inline-block;
    font-size: 1em;
    color: white;
}

.EmployeeHeader.yellowBox .EmployeeHeaderIcon {
    padding: 4px 5px
}

.InteractiveEmplyeeImg {
    width: 97px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    animation: jackInTheBox 2s infinite
}

.EmplyeeImgCont {
    padding-top: 20px;
    padding-bottom: 18px;
    ;
    position: relative;
}

.InteractiveEmplyeeName {
    background-color: #BDCFDB;
    text-align: center;
    color: #373A39;
    font-size: 1em;
    ;
    padding: 7px 0;
}

.employeeBox {
    border: 1px solid #D0AD5B;
    background-color: white;
    margin-bottom: 16px;
    height: 61px;
    border-radius: 8px;
    padding: 7px;
    transition: all .5s;
}

.employeeBox:hover {
    background-color: #D0AD5B;
    transition: all .5s;
}

.emplyeesSection {
    padding: 14px 9px
}

.employeeBox:hover .EmplyeeImg img {
    transform: scale(1.1);
    transition: all .5s;
}

.employeeBox .EmplyeeImg {
    border-radius: 8px;
    overflow: hidden;
    margin-left: 22px;
    width: 62px;
    float: right;
}

.EmplyeeImg img {
    transition: all .5s;
}

.EmplyeeName {
    float: right;
}

.EmplyeeName p {
    font-size: 0.875em;
    color: #373A39;
    margin-bottom: 5px;
    ;
}

.EmplyeeName span {
    font-size: 0.75em;
    color: #373A39
}

.percentageBox {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
}

.yellowPercBox {
    background-color: #DEC88F;
}

.pinkBox {
    background-color: #E4AE8A;
}

.percBoxHeader {
    height: 64px;
    padding: 23px 0;
    text-align: center;
}

.percBoxHeader p {
    font-size: .875em;
    color: #373A39;
}

.chartSec {
    padding: 28px;
    background-color: white;
    ;
}

.chartWidget {
    margin: auto;
}

.percentageSec {
    padding-top: 20px;
    padding-bottom: 28px;
}

.bluePercBox {
    background-color: #90AFC4;
}

.grayBox {
    background-color: #B9B4B0;
}

.commonBox {
    background-color: white;
    margin-bottom: 30px;
    padding: 22px 17px;
    border-radius: 8px;
    height: 500px;
    overflow: hidden;
}

.smallBox {
    height: 400px;
}

.commonboxHeader {
    padding-bottom: 11px;
    border-bottom: 1px solid rgba(112, 112, 112, .3);
}

.commonboxHeader h3 {
    font-size: 1em;
    color: #373A39;
    float: right;
}

.downloadMenu {
    background-color: #F9F9F9;
    min-width: 124px;
    border-radius: 5px;
}

.downloadBtn {
    float: left
}

.downloadMenu .dropdown-item {
    font-size: .875em;
    font-family: "GE-SS-Two-Light";
    opacity: .7;
}

.progressParCont {
    margin-top: 27px;
    position: relative;
}

.progressParTitle {
    font-size: 1em;
    color: #373A39;
    position: relative;
    float: right;
    width: 30%;
    line-height: .8;
}

.progressParCont:last-child {
    margin-top: 12px;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    float: right;
    margin-left: 6px;
}

.progressParsec {
    width: 55%;
    float: right;
    padding-bottom: 8.5px;
    border-bottom: 2px solid #F9F9F9;
}

.progressParsec span {
    font-size: 1em;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.3125em;
}

.progressParsec .progress {
    height: 12px;
    border-radius: 3px;
    background-color: #E8E6E6;
    margin-bottom: 5px;
}

.progress-bar {
    border-radius: 3px;
    overflow: hidden;
    width: 0;
}

.progress-bar.active {
    animation: progress 1500ms ease-in 1;
}

@keyframes progress {
    from {
        width: 0;
    }
}

@keyframes progressHeight {
    from {
        height: 0;
    }
}

.progress span {
    font-size: 21px;

}

.yellowFont {
    color: #D0AD5B
}

.blueFont {
    color: #90AFC4
}

.grayFont {
    color: #B9B4B0
}

.redBox {
    background-color: #CD7847;
}

.redFont {
    color: #CD7847
}

.totleTitle {
    font-size: 1em;
    font-family: "GE-SS-Two-medium";
}

.TotalBox {
    width: 141px;
    height: 34px;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    font-size: 26px;
    display: inline-block;
}

.skyBlue {
    background-color: #BDCFDB;
}

.skyBlueColor {
    color: #BDCFDB;
}

.darkYellow {
    background-color: #D0AD5B;
}

.darkYellowColor {
    color: #D0AD5B;
}

.darkGrayColor {
    color: #8D8582
}

.darkGray {
    background-color: #8D8582
}

.donateContainer {
    padding-top: 35px;
    position: relative;
}

.apexcharts-legend-series:first-child .apexcharts-legend-marker {
    box-shadow: 0 3px 13px #CE7847;
}

.apexcharts-legend-marker {
    margin-left: 5px
}

.apexcharts-legend-text {
    font-size: 1em !important;
    font-family: "GE-SS-Two-Light" !important;

}

.apexcharts-legend-series {
    margin-bottom: 10px !important;
    padding: 5px !important;
    ;
    border-radius: 20px;
}

.apexcharts-legend-series:first-child {
    background-color: rgba(206, 120, 71, .25)
}

.apexcharts-legend-series:nth-child(2) {
    background-color: rgba(141, 133, 130, .23);
}

.apexcharts-legend-series:nth-child(2) .apexcharts-legend-marker {
    box-shadow: 0 3px 13px #8D8582;
}

.apexcharts-legend-series:nth-child(3) .apexcharts-legend-marker {
    box-shadow: 0 3px 13px #90AFC4;
}

.apexcharts-legend-series:nth-child(4) .apexcharts-legend-marker {
    box-shadow: 0 3px 13px #D0AD5B;
}

.apexcharts-legend-series:nth-child(3) {
    background-color: rgba(144, 175, 196, .27)
}

.apexcharts-legend-series:nth-child(4) {
    background-color: rgba(208, 173, 91, .12);
}

.lumpImg {
    position: absolute;
    left: 24%;
    top: 152PX;
}

.progressBoxCont {
    padding-top: 70px;
}

.gradiantProgress {
    position: relative;
    border-radius: 20px;
    background-color: #F1F1F1;
    height: 24px;
    direction: ltr;
    font-family: 'Poppins', sans-serif;
    font-size: .875em
}

.rightGradiantProgress {
    direction: rtl
}

.gradiantProgress-bar {
    -webkit-mask: linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0);
    color: white;
    border-radius: 20px;
    overflow: hidden;
    text-align: right;
    padding: 0 20px
}

.rightGradiantProgress .gradiantProgress-bar {
    text-align: left;
}

.gradiantProgress-bar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left, #D0AD5B 45%, #8C8481);
    z-index: -1;
    border-radius: 20px;
    overflow: hidden;
}

.yellowGradiant:before {
    background-image: linear-gradient(to right, #D0AD5B 45%, #8C8481);
}

.bluegradiant:before {
    background-image: linear-gradient(to right, #90afc4 50%, #8C8481);
}

.redGradiant:before {
    background-image: linear-gradient(to right, #CE7847 45%, #8C8481);
}

.grayGradint:before {
    background-image: linear-gradient(to right, #B9B4B0 45%, #8C8481);
}

.gradiantProgressCont {
    margin-bottom: 34px;
    margin-top: 0;
}

.apexcharts-tooltip {
    border-radius: 8px;
    overflow: hidden;
}

.apexcharts-tooltip-title {
    background: rgba(118, 158, 145, .67) !important;
    color: white;
}

.apexcharts-tooltip-series-group {
    justify-content: right !important;
    text-align: right !important;
}

.apexcharts-tooltip-text-value {
    font-size: 11px !important;
    font-weight: 400 !important;
}

.apexcharts-tooltip-marker {
    margin-left: 10px !important
}

.Voteontainer {
    padding-top: 30px
}

.voteBar {
    width: 100%;
    height: 12px;
    border-radius: 16px;
    overflow: hidden;
    direction: ltr;
    text-align: left;
    margin-bottom: 42px;
}

.voteBar div {
    height: 100%;
    float: left;
    animation: progress 1500ms ease-in;
    position: relative;
    z-index: 0;
}

.redBG {
    background-color: #CE7847;
}

.voteResult {
    margin-bottom: 40px;
}

.lampIcon {
    width: 24px;
    position: absolute;
    bottom: 0;
    animation-delay: .1s;
}

.lampIcon.active {
    animation: lampAnimation 1.5s ease-in 1;

}

@keyframes lampAnimation {
    from {
        right: 0;
    }
}

.verticalLine {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    width: 8px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.voteResultText {
    float: right;
    width: 80px;
    text-align: center;
}

.voteResultText h3 {
    font-size: 1em;
    margin-bottom: 5px;

}

.voteResultText span {
    font-family: 'Tajawal', sans-serif;

}

.preiorityBox {
    margin-bottom: 52px;
}

.suggest_Container {
    padding-top: 77px
}

.suggestNumBox {
    height: 109px;
    border-radius: 10px;
    background-color: #E8E6E6;
    overflow: hidden;
    position: relative;
}

.suggestIcon {
    position: absolute;
    top: 0;
    left: 32%;
    z-index: 2;
}

.suggestIcon .suggNum {
    position: absolute;
    font-size: 1em;
    font-family: 'Tajawal', sans-serif;
    color: white;
    bottom: 18px;
    left: 25%;
    z-index: 3;
}

.suggestPar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}

.suggestPar.active {
    animation: progressHeight 1500ms ease-in 1;
}

.suggestNumBoxCateg {
    float: right;
    width: 94px;
    height: 109px;
    margin-left: 25px;
    text-align: center;
}

.suggestNumBoxCateg:last-child {
    margin-left: 0;
}

.suggestNumBoxCateg p {
    font-size: 0.8125em;
    margin-top: 20px;
}

.light path {
    transition: all 2s;
    animation: lightBulb 1.5s ease-in-out infinite;
}

#Layer_1 {
    animation: pulse 2s infinite;
}

#Layer_1 path.goldColor {
    animation: goldColor 2s infinite;
}

#Layer_1 {
    animation: awardScale 2s infinite;
}


@keyframes awardScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);

    }
}

#rotateSVg {
    animation: swing 2s infinite
}

@keyframes goldColor {
    0% {
        fill: #fff;
    }

    50% {
        fill: gold;
    }

    100% {
        fill: #fff;
    }
}

.light path.lightScale {
    animation: scale 1.5s linear infinite;
}

.darkLight path.lightScale {
    animation: darklightBulb 1.5s linear infinite;
}

.darkLight path.darklightScale {
    animation: darklightScale 1.5s ease-in infinite;
}

.darkLight path.darklight {
    animation: darklight 1.5s ease-in infinite;
}

@keyframes darklight {
    0% {
        fill: #9d9898
    }

    50% {
        fill: #ffe064
    }

    100% {
        fill: #9d9898
    }
}

@keyframes progressHeight {
    from {
        height: 0;
    }
}

@keyframes darklightBulb {
    0% {
        fill: #f8e59a
    }

    50% {
        fill: #ffe064
    }

    100% {
        fill: #f1c71e
    }
}

@keyframes lightBulb {
    0% {
        fill: white
    }

    50% {
        fill: #ffe064
    }

    100% {
        fill: #fff
    }
}

@keyframes scale {
    0% {
        opacity: 0;
        fill: #9d9898
    }

    50% {
        opacity: 1;
        fill: #ffe064
    }

    100% {
        opacity: 0;
        fill: #9d9898
    }
}

@keyframes darklightScale {
    0% {
        opacity: 0;
        fill: white
    }

    50% {
        opacity: 1;
        fill: #ffe064
    }

    100% {
        opacity: 0;
        fill: #fff
    }
}

.light path.lightScale2 {
    animation: light2 3.2s linear infinite;
    opacity: 0;
}

.light path.lightScale2:nth-child(3) {
    animation-delay: 1.8s;
}

.light path.lightScale2:nth-child(4) {
    animation-delay: 1.4s;
}

.light path.lightScale2:nth-child(5) {
    animation-delay: 1.2s;

}

.light path.lightScale2:nth-child(6) {
    animation-delay: .8s;
}

.light path.lightScale2:nth-child(7) {
    animation-delay: 3s;
}

.light path.lightScale2:nth-child(8) {
    animation-delay: 2.6s;
}

.light path.lightScale2:nth-child(9) {
    animation-delay: 2.2s;
}

@keyframes light2 {
    0% {
        opacity: 0;
        fill: white
    }

    50% {
        opacity: 1;
        fill: #ffe064
    }

    100% {
        opacity: 0;
        fill: #fff
    }
}

@keyframes firework {
    0% {
        transform: translate(var(--x), var(--initialY));
        width: var(--initialSize);
        opacity: 1;
    }

    50% {
        width: 0.5vmin;
        opacity: 1;
    }

    100% {
        width: var(--finalSize);
        opacity: 0;
    }
}

/* @keyframes fireworkPseudo {
    0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
   */
.firework,
.firework::before,
.firework::after {
    --initialSize: 0.5vmin;
    --finalSize: 25vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -20vmin;
    --x: -30%;
    --initialY: 10vmin;
    content: "";
    animation: firework 5s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background:
        /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */

        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,

        /* bottom right */
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,

        /* bottom left */
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,

        /* top left */
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,

        /* top right */
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
}

.firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.9) rotateY(40deg);
    /*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(2) rotateY(-30deg);
    /*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
    --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;
    --finalSize: 40vmin;
    left: 50%;
    top: 40%;
    animation-delay: -.5s;
}

.firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -.5s
}

.firework:nth-child(4),
.firework:nth-child(4)::before,
.firework:nth-child(4)::after {
    --color1: rgb(255, 0, 17);
    --color2: rgb(255, 224, 230);
    --color3: rgb(230, 173, 208);
    --color4: rgb(238, 175, 232);
    --color5: rgb(197, 135, 235);
    --color6: rgb(238, 230, 250);
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -.7s
}

.loading {
    margin-top: 30px;
    width: 100px;
}

.createNewChallengr {
    padding-top: 34px;
    padding-bottom: 39px;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 19px;
}

.breadcrumb-item,
.breadcrumb-item.active {
    font-size: 1.125em;
    color: #242424;
}

.breadcrumb-item+.breadcrumb-item::before {
    margin-left: 5px
}

.breadcrumb-item:hover a {
    color: #7D9D92
}

.createChallengeBox {
    width: 100%;
    background-color: #FAF3E8;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 80px;
}

.createChallengeBoxHeader {
    background-color: #90AFC4;
    padding: 16px 24px;
    border-radius: 12px 12px 0 0;
}

.createChallengeBoxHeaderIcon {
    margin-left: 12px;
    display: inline-block;
}

.createChallengeBoxHeader p {
    color: white;
    display: inline-block;
}

.creatchallengeContent {
    padding-left: 25px;
    height: 520px;
}

.createchallengesForm {
    position: relative;
}

.headIcon {
    position: absolute;
    right: 0;
    top: 0;
    width:450px;
    height: 529px;

}
.headIcon a{
    position: absolute;
    display: flex;
}
.headIcon p{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    display: flex;
    align-self: center;
    color:white;
    font-size: 1.4375em;
    justify-content: center;
}
.headIcon a:hover{
    opacity: .7;
}
.headSec1{
    right:0;
    top: 0;
    width: 80%;
}
.headSec2{
    right: -17px;
    top: 108px;
    width: 90%;
}
.headSec3{
    right: -15px;
    top: 210px;
    width: 98%;
}
.headSec4{
    right: 30px;
    top: 315px;
    width: 82%;
}
.headSec5{
    bottom: 7px;
    right: -16px;
    width: 89%;
}
.createchallengedetails{
    position: relative;
    margin-top:57px;
    margin-right: 24px;
}
.creatchallengeContent .form-group {
    width: 750px;
    float: right;
    position: relative;
    display: none;
    opacity: 0;
   animation: bounceInRight 2s 1 ease-in;
}
.creatchallengeContent .active-Form-group{
    display: block;
    opacity: 1;
}
.createchallengesForm .form-control {
    height: 56px;
    background-color: white;
    border: 1px solid #C6C6C6;
    border-radius: 8px;
}

.challengeTitle {
    margin-right: 355px;
    margin-bottom: 50px;
    margin-top: 20px
}
.descripChallengeForm-group {
    margin-right: 416px;
    margin-bottom: 60px;
}

.reasonhallengeForm-group {
    margin-right: 439px;
    margin-bottom: 47px;
}

.ProceduresChallenge-group {
    margin-right: 413px;
    margin-bottom: 60px;
}

.benfitChallenge-group {
    margin-right: 300px;
}

.moreChallengeDetails {
    margin-top: 118px;
    ;
}

.moreChallengeDetails label {
    color: #242424;
    margin-bottom: 11px;
}

.moreChallengeDetails .form-group {
    width: 46%;
    float: right;
    margin-bottom: 37px;
    position: relative;
}

.moreChallengeDetails .form-group.marginLeft {
    margin-left: 75px;
}

.select2-container {
    height: 55px;
}

.select2-container .select2-selection--single {
    height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #999999;
    height: 100%;
    ;
    font-size: 1.125em
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    content: "\f078";
    font-family: "Font Awesome 5 Brands";
    font-size: 1.2em;
}

.moreChallengeDetails .form-group span {
    margin-top: 8px;
    color: #999999;
    font-family: 'Tajawal', sans-serif;

}

.dateIcon {
    position: absolute;
    LEFT: 11px;
    TOP: 52px;
}

.chatContainer {
    padding: 42px 39px
}

.chatUserBox.card,
.messagesBox.card {
    background-color: white;
    padding: 25px 13px;
    border-radius: 20px;
    overflow: hidden;
}

.messagesBox.card {
    padding: 0;
}

.input-group.input-group-solid .form-control {
    background-color: #F9FAFC;
    height: 40px;
    border: 1px solid #DBE5ED;
}

.input-group {
    position: relative;
}

.chatUserBox.card.card-custom>.card-body {
    padding: 0;
}

.messagesBox.card.card-custom>.card-body {
    padding: 30px 20px
}

.svg-icon-lg {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 999
}

.chatUserBox.card .scroll.scroll-pull {
    padding-left: 27px;
    padding-right: 13px;
    margin-top: 38px
}

.chatUserBox .symbol {
    position: relative;
    margin-left: 11px;
    width: 50px;
    height: 50px;
    background-color: #C3C8AA;
    justify-content: center;
    align-items: center;
    font-family: "sofiaPro";
    display: inline-flex;
    font-size: 1em;
    color: white;
}

.chatUserBox .symbol::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    bottom: 0;
    left: 0;
    display: block;
    position: absolute;
}

.chatUserBox .symbol.active::before {
    background-color: #76C00D;
}

.chatUserBox .symbol.away:before {
    background-color: #FFBD08;
}

.chatUserBox .symbol.offline:before {
    background-color: #AFBBC6;
}

.ChatPersonName {
    color: #7B8793;
    font-size: 1em;
}

.ChatgovermentName,
.chatTime {
    font-size: 0.75em;
    color: #7B8793;
}

.chatItemBox {
    margin-bottom: 20px;
}

.messagesNum {
    margin-top: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    margin-top: 12px;
    color: white;
    border-radius: 50%;
    background-color: #CE7847;
    justify-content: center;
    font-size: .75em;
    align-items: center;
    font-family: "sofiaPro";
}

.messagesBox.card>.card-header {
    background-color: #BCD0DB;
    padding: 21px 36px;
    color: white
}

.availableStatus {
    position: relative;
    font-size: 1em;
}

.availableStatus:before {
    content: "";
    float: right;
    margin-left: 7px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
}

.availableStatus.active:before {
    background-color: #76C00D;
}

.availableStatus.away:before {
    background-color: #FFBD08;

}

.availableStatus.offline:before {
    background-color: #AFBBC6;
}

.messagesBox.card>.card-header p {
    font-size: 1.125em;
    margin-bottom: 5px;
}

.chatText {
    border-radius: 20px;
    padding: 19px;
    display: inline-block;
    position: relative;
    margin-right: 25px;
}

.chatText p {
    font-size: .875em;
    color: #373A39;
    margin-bottom: 5px;
    max-width: 300px;
    border-radius: 12px;
}

.lightChatBox {
    background-color: #D9DCC7
}

.chatText span {
    font-size: .8125em;
    color: #373A39
}

.messageItemBoxImg {
    display: inline-flex;
}

.messageTime {
    margin-top: 10px;
    width: 100%;
    margin-top: 10px;
    max-width: 300px;
    color: #7D9D92;
    font-size: .8125em;
    display: flex;
    flex-direction: column;
}

.rightPoint,
.leftPoint {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transform: rotate(-45deg);
    border-top: 35px solid #D9DCC7;
    right: -17px;
    bottom: -14px;
    z-index: 0;
}

.leftPoint {
    right: auto;
    left: -17px;
    border-top: 35px solid #8D8582;
    ;
    transform: rotate(45deg);
}

.darkChatBox {
    background-color: #8D8582;
    ;
    margin-right: 0;
    margin-left: 25px;
}

.darkChatBox p,
.darkChatBox span {
    color: white
}

.messages {
    margin-bottom: 36px;
}

.messagesBox .card-footer {
    padding: 0;
    margin: 31px 21px;
    padding-top: 22px;
}

textarea {
    resize: none;
}

.btn.chat-send {
    background-color: #7D9D92;
    border-radius: 5px;
    width: 87px;
    height: 51px;
    font-size: .875em;
    color: white;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.sendIcon {
    display: inline-block;
}

.dropzone {
    border: 0;
    padding: 0;
    width: 19px;
    margin-left: 15px;
}

.dropzone .dz-message .dz-button {
    display: none;
    position: absolute
}

.attachIcon {
    width: 100%;
    height: 100%;
}

.suggChallengeContent {
    padding: 21px 0
}

.suggChallengeContainer {
    background-color: white;
    border-radius: 12px;
    padding: 24px 15px 24px 24px;
    margin-bottom: 28px;
}

.adminImage {
    width: 62px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 8px;
    display: inline-flex;
    align-items: flex-start
}


.challengeSuggestDetails p {
    background-color: #DEC88F;
    display: inline-block;
    padding: 2px 14px;
    border-radius: 5px;
    font-size: .875em;
    margin-bottom: 7px;
    ;
}

.dateOfChallenge span {
    margin-left: 18px;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
}

.challengesuggTime {
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    margin-right: 8px;
}

.suggestChallengeAdminCont .downloadBtn {
    padding: 0
}

.suggestChallengeAdminCont .downloadBtn i {
    color: black
}

.suggestChallengeAdminCont {
    margin-bottom: 32px;
}

.suggchallengeTextBox {
    background-color: white;
    padding: 14px 24px;
    border-radius: 12px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, .1);
    margin-bottom: 30px;
}

.challengTextInteaction span {
    font-weight: 500;
    font-family: 'Tajawal', sans-serif;
    padding: 6px 11px;
    border-radius: 12px;
}

.challengTextInteaction .danger {
    color: #CE7847;
    background-color: #F1D2BD;
}

.commIcon {
    display: inline-block;
    margin-left: 8px;
}

.challengTextInteaction .success {
    color: #769F91
}

.challengTextInteaction {
    margin-top: 20px
}

.addCommentForm {
    width: 100%;
    padding: 7px 12px;
    border: 1px solid rgba(144, 175, 196, .5);
    border-radius: 4px;
    height: 51px;

}

.addCommentForm-group {
    width: 80%;
    float: right;
    margin: 0
}

.addComment-control {
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 100%;
}

.addCommentBtn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #90AFC4;
    float: left;
    text-align: center;
    padding: 0;
}

.newestChallenge {
    border-radius: 12px;
    background-color: white;
}

.newestChallengeHeader {
    padding: 15px 18px;
    background-color: #DEC88F;
    border-radius: 12px 12px 0 0;
}

.newestChallengeheaderIcon {
    margin-left: 12px;
    display: inline-block;
}

.newestChallengeHeader p {
    font-size: .875em;
    display: inline-block;
}

.newestchallengeContainer {
    padding: 25px 11px;
    overflow: hidden;

}

.newestchallengeContainer .scrollabeleSec {
    padding-left: 30px;
    max-height: 500;
    overflow-y: scroll;
}

.scrollabeleSec::-webkit-scrollbar {
    width: 6px;
    height: 110px !important;
}

.scrollabeleSec::-webkit-scrollbar-track {
    background-color: transparent;
    height: 110px;
}

.scrollabeleSec::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #BDCFDB;
    max-height: 30px;
}

.Challengereplays {
    margin-bottom: 42px;
}

.newwstChallengeBox {
    background-color: rgba(222, 200, 143, .39);
    padding: 11px 10px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.newestAdmnImg {
    width: 46px;
    border-radius: 8px;
    overflow: hidden;
    display: inline-flex;
}

.newsetAdminDetails p {
    display: inline-flex;
    font-size: .875em;
    color: #373A39;
    align-self: center;
    margin-right: 9px;
}

.newsetAdminDetails a {
    font-size: .875em;
    text-decoration: underline;
    color: #CD7747;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
    text-align: left;
    align-self: center;
}

.newsetAdminDetails {
    display: flex;
}

.newwstChallengeBox span {
    font-size: .875em;
    color: #373A39;
    display: block;
    margin-top: 15px;
}

.newestChallengeFooter {
    margin-top: 10px;
    background-color: #BCD0DB;
    display: flex;
    padding: 7px;
    justify-content: center;
}

.newestChallengeFooterIcon {
    display: inline-flex;
    margin-left: 12px;
    width: 26px;
}

.newestChallengeFooter p {
    display: inline-flex;
    align-self: center;
}

.newestChallengeFooter span {
    font-family: 'Tajawal', sans-serif;
    font-size: 1em;
    font-weight: 500;
    display: inline-flex;
    align-self: center;
    margin: 0;
    margin-right: 5px;

}

.Challengereplays .scrollabeleSec {
    max-height: 318px;
    overflow-y: scroll;
}

.replaybox .messageItemBoxImg {
    border-radius: 0;
    width: 84px;
}

.pinkBox {
    background-color: #FAF3E8;
}

.pinkBox .rightPoint {
    border-top-color: #FAF3E8;
}

.chatText p span {
    font-size: 11px;
    font-family: "GE-SS-Two-Light";
    margin-right: 15px;
    opacity: 45%;
    display: inline-block;
}

.chatText {
    margin-bottom: 20px;
}

.likeDislike {
    margin-right: 10px;
}

.likeDislikeIcon {
    display: inline-block;
    margin-left: 6px;
}

.likeDislike a {
    width: 57px;
    height: 29px;
    border-radius: 12px;
    padding: 6px 9px;
    display: inline-block;
    font-size: 11px;
    font-family: "GE-SS-Two-medium";
}

.likeDislike a.like {
    background-color: #F1D2BD;
    color: #CE7847;
}

.dislike {
    color: #769F91;
    margin-right: 10px;
}

.grayBox {
    background-color: #D8D5D0;
    margin-right: 0;
    margin-left: 25px;
}

.grayBox .leftPoint {
    border-top-color: #D8D5D0;
}

.replaybox .messages {
    margin-left: 10px;
    margin-right: 10px;
}

.reciveChallengeHeader {
    margin-bottom: 35px;
}

.importBtn {
    float: left;
    width: 163px;
    height: 46px;
    background-color: #BCD0DB;
    border-radius: 8px;
    font-size: 1.125em;
    color: rgba(0, 0, 0, .63);
    padding: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.importIcon {
    margin-left: 8px;
    display: inline-block;
}

.importBtn.dropdown-toggle:after {
    margin-right: 22px;
    align-self: center;
}

.importBtn:hover {
    background-color: #90AFC4;
}

.reciveChallengeHeader span {
    font-size: 1.125em;
    ;
}

.tableFilters label {
    font-size: 1.25em;
    color: #242424;
    font-family: 'Tajawal', sans-serif;
}

.tableFilters .form-control {
    height: 54px;
    border: 1px solid #C6C6C6;
    border-radius: 8px;
}

.tableFilters .form-control::placeholder {
    color: #999999;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.25em
}

.flaticon2-search-1 {
    color: #999999;
}

.filterSearchBtn {
    float: left;
    margin-top: 18px;
    background-color: #7D9D92;
    border-radius: 8px;
    font-size: 1.125em;
    width: 163px;
    height: 48px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0;
}

.btn span {
    align-self: center;
}

.btn {
    transition: all .5s;
    ;
}

.btn:hover {
    transition: all .5s;
    ;
}

.filterSearchBtn:hover {
    background-color: #8ac2af;
    color: white
}

.tableEmployeeIimg {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin-left: 11px;
    float: right;
}

.tableEmpdesc {
    float: right;
}

.tableEmpdesc p {
    font-size: 14px;
    margin-bottom: 2px;
}

.tableEmpdesc span {
    font-size: 12px;
}

.recivedSuggTable {
    border-collapse: separate;
    border-spacing: 15px 22px;
    margin-left: auto;
    margin-right: -14px;
    margin-top: 70px;
    width: 103%;
}

.recivedSuggTable td {
    font-size: 0.75em;
}

.recivedSuggTable.table thead {
    border: 0
}

.recivedSuggTable td,
.recivedSuggTable.table thead th {
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    height: 78px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .06);
    border: 0;
    position: relative;
}

.tableHeaderIcon {
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
    z-index: 0;
}

.headerInnerIcon {
    margin-bottom: 8px;
}

.recivedSuggTable th .tableHeaderText {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 2px;
    left: 0
}

.blueTD {
    background-color: #E5ECF2;
}

.recivedSuggTable th {
    background-color: white;
    width: 14.2%;
    font-size: 0.8125em;
    color: white;
    position: relative;
}

.pinkTD {
    background-color: rgba(242, 210, 187, .7);
}

.greenTD {
    background-color: rgba(223, 224, 206, .7);
}

.yellowTD {
    background-color: #FAF4E8;
}

.purbleTD {
    background-color: rgba(214, 211, 206, .7);
}

.statusTD {
    background-color: rgba(214, 211, 206, .38);
}

.actionsTD {
    background-color: rgba(208, 224, 214, .38);
}

.dateTd {
    font-weight: 500;
    font-family: 'Tajawal', sans-serif;
}

.warningStatus {
    background-color: #F1D2BD;
    color: #FF6700;
}

.statusTD span {
    border-radius: 12px;
    padding: 4px 6px
}

.actionsTD a {
    margin-left: 11px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    display: inline-flex;
}

.actionsTD a:first-child {
    margin-left: 20px;
}

.actionsTD a:last-child {
    margin-left: 0
}

.delteBtn {
    background-color: #FAF3E8;
    display: inline-flex;
    justify-content: center;
}

.delteBtn i {
    color: #FF0000;
    align-self: center;
}

.delteBtn:hover {
    background-color: #f7cec9;
}

.successStatus {
    background-color: #d4edda;
    color: #155724;
}

.dangerStatus {
    color: #721c24;
    background-color: #f8d7da;
}

.titleText {
    max-width: 95px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.evaSuggTables td,
.evaSuggTables th {
    width: 17%;
}

.actionsTD a.showEvalBtn {
    background-color: #90AFC4;
    border-radius: 8px;
    width: 103px;
    height: 46px;
    color: white;

}

.evaSuggTables .actionsTD a:first-child {
    margin-left: 10px;
}

.actionsTD a.showEvalBtn:hover {
    background-color: #498dbc;
}

.userproileContainer {
    background-color: white;
    border-radius: 5px;
}

.userSide {
    padding-top: 40px;
    border-left: 1px solid #F0F0F0;
    height:100%;
    background-color: white;
}

.userprofileImg {
    position: relative;
    margin: auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 13px;
}

.userprofileImg img {
    border-radius: 50%;
}

.userprofileImg:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    bottom: 10px;
    left: 15px;
    display: block;
    position: absolute;
}

.userprofileImg.active:before {
    background-color: #76C00D;
}

.userprofileImg.away:before {
    background-color: #FFBD08;
}

.userprofileImg.offline:before {
    background-color: #AFBBC6;
}

.userProfileName p {
    font-family: "GE-SS-Two-Light";
    font-size: 1.5em;
}

.userProfileName span {
    font-size: 1.1875em;
}

.editProfileList {
    margin-top: 35px
}

.editProfileList.nav.nav-pills .nav-link {
    padding: 22px 36px;
    color: #7D9D92;
    font-size: 1.1875em;
    border-bottom: 1px solid #F0F0F0
}

.personalInfoIcon {
    margin-left: 24px;
    width: 30px
}

.editProfileList.nav.nav-pills .nav-link.active {
    font-size: 1.25em;
    font-family: "GE-SS-Two-medium";
    background-color: rgba(125, 157, 146, .22)
}
.personalInfoTitle{
    padding:24px 44px;
    border-bottom: 1px solid #F0F0F0
}
.personalInfoTitle p{
    font-size: 1.375em;
    color:#333333;
    margin-bottom: 11px;
}
.userprofileCol{
    padding:0;
    margin:0
}
.changepersonalInfoCont{
    padding:25px 42px
}
.personalPic{
    width:90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.personalPic:before{
    content:"";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .39) ;
    position: absolute;
    z-index: 1;
    border:0
}

.changeProfileImg i{
    position: absolute;
    top:40%;
    left:40%;
    z-index: 2;
    color:white;
}
#changeImg{
    position: absolute;
    width: 0;
}
.personalInfoDetailsInput{
    margin-top:36px
}
.personalInfoDetailsInput label{
    color:#373A39;
    margin-bottom: 13px;
    font-size: 16px;
}
.personalInfoDetailsInput .form-control{
    height: 50px;
    border:1px solid #D7D7D7;
    border-radius: 5px;
}
.form-control::placeholder{
    font-size: 14px;
    color:#999999;
}
.personalInfoDetailsInput .form-group{
    margin-bottom: 24px;
}
.personalInfoBtns{
    margin-top:35px
}
.personalInfoBtns .btn{
    display: inline-block;
    margin-left:12px;
    width:121px;
    height: 50px;
    border-radius: 5px;
    font-size:1.25em
}
.saveInfoBtn{
    background-color: #7D9D92;
    color:white;
}
.saveInfoBtn:hover{
    background-color: #a6c1b8;
    color:white
}
.cancelInfoBtn{
    background-color: #F6F8F9;
    color:#333333
}
.cancelInfoBtn:hover{
    background-color: #d5e4ec;
    
}
.passwordFormGroup{
    position: relative;

}
.passwordFormGroup i{
    position: absolute;
    top:61%;
    left:5%
}
.modalChangeImg{
    margin: auto;
    width: 130px;
    height: 130px;
}
.modalChangeImg:before{
    display: none;
}
.modal-dialog {
    max-width: 830px;}
.changeImgModal .modal-content{
    padding:14px 24px
}
.close{
    
    align-self: flex-end;
}
.extension{
    margin-top:10px;
    display: block;
    font-size:.875em;
    color:#999999;
    margin-bottom:37px
}
.extension span{
    color:#999999
}
.modalBtns {
    margin:auto;
    text-align: center;
}
.modalBtns .btn{
    width:163px;
    height: 46px;
    border-radius: 8px;
    font-size:1.125em;
    margin: auto;
}
.modalBtns .btn.changeImgModalBtn{
    display: block;
    background-color: #7D9D92;
    margin-bottom: 13px;
    color:white;
}
.modalBtns .btn.changeImgModalBtn:hover{
    background-color:#a8c9bd ;
}
.delImgBtn{
    background-color: transparent;
    border:1px solid #F60707;
    color:#F60707;
}
.delImgBtn:hover{
    background-color:#F60707;
    color:white
}
.reciveSuggModalHeader{
background-color: #90AFC4;
padding:16px 20px;
display: flex;
justify-content: space-between;
}
.reciveSuggModalHeader p{
    color:white;
    font-size: 1.125em;
}
.reciveSuggModal{
    padding:25px 20px
}

.checkBoxContainer{
    border:1px solid rgba(144, 175, 196, .5);
    border-radius: 8px;
    padding:9px 10px;
    width:100%;
    height: 55px;
    position: relative;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 12px;
    color:#373A39;
    display: flex;
    align-self: center;
    justify-content: space-around;
  }
  
  /* Hide the browser's default checkbox */
  .checkBoxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkBoxContainer span{
    align-self: center;
    display: flex;
  }
  /* Create a custom checkbox */
 .checkBoxContainer .checkmark {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color:transparent;
    border: 1px solid #7D9D92;
  }
  
  /* On mouse-over, add a grey background color */
  .checkBoxContainer:hover input ~ .checkmark {
    background-color: transparent;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkBoxContainer input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
 .checkBoxContainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkBoxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkBoxContainer .checkmark:after {
    left: 5px;
    top: 0;
    width: 5px;
    height: 10px;
    border: solid #7D9D92;;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .conernedLogo{
    width: 37px;
    height: 37px;
    border-radius: 12px;
    margin-left:24px;
    display: inline-flex;
  }
  .concernedBtn{
   margin-top:35px
  }
  .concernedBtn .btn{
width:163px;
height: 46px;
border-radius: 8px;
font-size:1.125em;
}
.directinBtn{
    background-color: #7D9D92;
    color: white;
}
.cancelModalBtn{
    background-color: white;;
    border:1px solid #7D9D92;
    color:#7D9D92;
    margin-right:8px
}
.directinBtn:hover{
    background-color: #7D9D92;
    color:white;
}
.cancelModalBtn{
    background-color: #ebebeb;
}
.scrollableModal{
    height: 270px;
    overflow-y: scroll;
    padding:0 12px
}
.scrollableModal::-webkit-scrollbar {
    width: 6px;
}

.scrollableModal::-webkit-scrollbar-track {
    background-color: transparent;
    padding:50px 0
}

.scrollableModal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #BDCFDB;

}
button.reciveSuggModalClose{
    width:24px;
    height: 24px;
    background-color: #FFFFFF;
    opacity: 1;
}
.rejectForm{
    font-size:1.0625em;
    color:black;
    margin-bottom: 8px;
}
.rejectForm textarea{
    height: 92px;
}
.rejectBtn{
    background-color: #F01010;
    color:white;
    margin-left: 8px;
}
.rejectBtn:hover{
    background-color: #d20808;
    color:white
}
.rejectCancelBtn{
    background-color: transparent;
    color:#F01010;
    border:1px solid #F01010
}
.rejectCancelBtn:hover{
    background-color:#efc0c0 ;
    color:#F01010;
}
.homePageHeader{
    background-color: white;
    height: 80px;
    display: flex;
}
.homepageLogo{
    display: flex;
    align-self: center;
    justify-content: flex-start;
}
.homePageBody{
    padding:175px 0
}