
body {
    font-size: 16px;
    box-sizing: border-box;
    color: black;
    overflow-x: hidden;
    position: relative;
    text-align: right;
    direction: rtl;
    font-family:"GE-SS-Two-Light";
    background-color: #F6F6F6;
}
@font-face {
    font-family:"GE-SS-Two-Light";
    src: url("../fonts/GE_SS_Two_Light.otf");
}
@font-face {
    font-family:"GE-SS-Two-medium";
    src: url("../fonts/ArbFONTS-GE_SS_TWO_MEDIUM_5.otf");
}
@font-face {
    font-family:"GE-SS-Two-bold";
    src: url("../fonts/ArbFONTS-GE_SS_Two_Bold_4.otf");
}
.btn.focus, .btn:focus{
    box-shadow: none;
}
form {
    margin: 0;
}

img {
    width: 100%;
}
:focus{
    outline: 0;
    box-shadow: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family:"GE-SS-Two-medium";
}
h1,h2,h3{
    font-family:"GE-SS-Two-bold";
}
a {
    color: black;
    transition: all .5s;
}

a:hover {
    text-decoration: none;
    transition: all .5s;

}
.topHeader{
    padding:7px 0;
    background-color: white;
}
.logo{
    width:110px;
    transition: .5s;
}
.mainMenu{
    background-color: #7D9D92;
    padding:9px 0
}
.navbar{
    margin:auto;
}
.navbar-collapse{
    justify-content: center;
}
.searchBox{
    width:466px;
    margin: auto;
    position: relative;
    margin-top:9px
}
.searchInput{
    width:100%;
    height: 48px;
    background-color: #FAFAFA;
    border:1px solid #D6D6D6;
    border-radius: 8px;
}
.searchIcon{
    position: absolute;
    left:14px;
    width:24px;
    top:12px;
    border:0;
    background-color: transparent;
}
.searchInput::placeholder{
color:#707070;
font-size:1.125em;
}
.navbar-nav .nav-item{
    padding:5px 10px;
    border-radius: 8px;
    margin-left:29px;
    padding-left:28px
}
.navbar-nav .nav-item:last-child{
    margin-left:0
}
.navbar-nav .nav-item.active{
    background-color: rgba(210, 223, 214, .68);
}
.navbar-nav .nav-item .nav-link{
    color:white;
    font-size:1.125em;
    padding:0
}
.dropdown-toggle::after{
border:0;
content:"\f078";
font-family:"Font Awesome 5 Brands";
position: absolute;
left:0;
-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1
}
.notificationsbtn{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgba(206, 120, 71, .1);
    padding: 6px;
    position: relative;
}
.notifyNum{
    position: absolute;
    width:17px;
    height: 17px;
    color:white;
    background-color: #E23535;
    border-radius: 50%;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    right: -5px;
    top: -5px;
    line-height: 19px;
}
.profileIcons{
    margin-top:9px;
    float: left;
    width: 100%;
}
.notificationsbtn svg{
    animation: ring 5000ms infinite; 
}
.notificationsbtn:hover .notifyNum{
-webkit-animation-name: rubberBand ;
animation-name: rubberBand;
-webkit-transform-origin: center bottom;
-ms-transform-origin: center bottom;
transform-origin: center bottom;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
    animation-fill-mode: both;   
-webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;  
}
  @keyframes ring {
    0% { transform: rotate(0deg); }
    8.0% { transform: rotate(0deg); }
    12.0% { transform: rotate(52deg); }
    16.0% { transform: rotate(-48deg); }
    20.0% { transform: rotate(0deg);}
    23.0% { transform: rotate(42deg); }
    26.0% { transform: rotate(-30deg); }
    29.0% { transform: rotate(0deg); }
    31.0% { transform: rotate(26deg); }
    33.0% { transform: rotate(-18deg);}
    35.0% { transform: rotate(0deg);}	
    37.0% { transform: rotate(-12deg); }
    40.0% { transform: rotate(6deg); }
    44.0% { transform: rotate(-3deg);}
    49.0% { transform: rotate(2deg); }
    55.0% { transform: rotate(0deg); }
    62.0% { transform: rotate(1deg); }
    70.0% { transform: rotate(0deg);}
  }
.langBtn{
    width:28px;
    height:28px;
    border-radius: 50%;
    background-color: rgba(208, 173, 91, .1);
    padding:3px;
    margin-right: 16px;
}
.langIcon{
    margin-left:14px;
    width: 18px;;
}
.dropdown-item{
    text-align: right;
}

.profileIcons .dropdown-item.active,.profileIcons .dropdown-item:hover{
background-color: rgba(125, 157, 146, .17);
}
.profileIcons .dropdown-item{
color:#000000;
opacity: .7;
font-size: 0.875em;
padding: 5px 12px;
text-align: right ;
}
.langBtn:hover svg{
    animation: heartBeat 2000ms; 
    -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;  
}
.profile{
    margin-right: 33px;
}
.profileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left:12px;
    float: right;
}
.userName,.lang,.notifications,.profile{
    display: inline-block;
}
.userName .name{
    font-size:1.125em;
}
.userName .validity{
    font-size:1.125em;
    color:#707070;
}
.logo:hover{
  transform: scale(1.1);
  transition: .5s;
}
.profile .dropdown-item{
    padding: 14px 17px;
    position: relative;
    border-bottom: 1px solid rgba(112, 112, 112, .3) ;
}
.profile .dropdown-item:last-child{
    border-bottom: 0;
}
 .dropdown-menu{
    min-width: 213px;
    position: relative;
    z-index: 999999;
}
.profile .dropdown-menu{
    width:280px
}
.dropdown-menu .triangle{
    display: block ;
    position: absolute;
    width: 22px ;
    height: 17px;
    border-left-width: 1px;    
    border-left-style: solid;
    border-left-color: transparent;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(112, 112, 112, .3);
    left: 18px;
    top: -14px;
}
.dropdown-menu .triangle::after{
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;

    /*  Left Border */
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(112, 112, 112, .3);

    /*  Top Border */
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(112, 112, 112, .3);

    /*  Bottom Border */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;

    /*  Rotate it to 45deg and skew  */
    transform: rotate(45deg) skew(10deg,10deg);

    /*  Position it until you meet the corners  */
    left: -2px;
    bottom: -13px
}
.statistics{
    padding:36px 0 28px
}
.container-fluid{
    width:1292px
}
.statsticsBox{
    padding:15px;
    text-align: center;
    height: 148px;
    border-radius: 8px;
}
.purbleBox{
    background-color: #8D8582;
}
.purbleBox .statsticsNum{
    color: #8D8582;
}
.statisticsIcon{
    margin:auto;
    height: 92px;
    max-width: 87px;
    margin-bottom: 8px;
    position: relative;
}
.statsticsNum{
    position: absolute;
    font-size: 2.5625em;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    left: 38%;
    top: 8px;
    z-index: 9999
}
.statsticsBox p{
    color:white;
    font-size: .875em;
}
.greenBox{
    background-color: #769F91;
}
.greenBox .statsticsNum{
    color:#769F91;
    left: 42%;
    top: 35px;
}
.orangeBox{
    background-color: #CC7847;
}
.orangeBox .statsticsNum{
    color: #CC7847;
    left: 42%;
    top: 14px;
}

.yellowBox{
    background-color: #D0AD5B;
}
.yellowBox .statsticsNum{
    color: #D0AD5B;
}
.mostInteractiveEmployee{
    float: right;
    width:20%;
    margin-left:33px;
    border-radius: 8px;
    background-color: white;;
    padding-bottom: 30px;
    overflow: hidden;
}
.mostInteractiveEmployees{
    width:77%;
    float:right;
    border-radius: 8px;
    background-color: white;;
    overflow: hidden;
}
.EmployeeHeader{
    height: 64px;
    background-color: #90AFC4;
    padding:14px 16px
}
.EmployeeHeader.yellowBox{
    background-color: #D0AD5B;
}
.EmployeeHeaderIcon{
    width:40px;
    height: 37px;
    border-radius: 8px;
    background-color: rgba(255,255,255,.28);
    display: inline-block;
    padding:4px 7px;
    margin-left:7px;
}
.EmployeeHeader p{
   display: inline-block;
    font-size: 1em;
    color:white;
}
.EmployeeHeader.yellowBox .EmployeeHeaderIcon{
    padding:4px 5px
}
.InteractiveEmplyeeImg{
    width: 97px;
    margin:auto;
    border-radius: 8px;
    overflow: hidden;
    animation: jackInTheBox 2s infinite 

}

.EmplyeeImgCont{
    padding-top:20px;
    padding-bottom: 18px;;
    position: relative;
}
.InteractiveEmplyeeName{
    background-color: #BDCFDB;
    text-align: center;
    color:#373A39;
    font-size: 1em;;
    padding:7px 0;
}
.employeeBox{
    border:1px solid #D0AD5B;
    background-color: white;
    margin-bottom: 16px;
    height: 61px;
    border-radius: 8px;
    padding: 7px;
    transition: all .5s;;
}
.employeeBox:hover{
    background-color: #D0AD5B;
    transition: all .5s;;
}
.emplyeesSection{
    padding:14px 9px
}
.employeeBox:hover .EmplyeeImg img{
    transform: scale(1.1);
    transition: all .5s;
}
.employeeBox .EmplyeeImg{
    border-radius: 8px;
    overflow: hidden;
    margin-left:22px;
    width:62px;
float:right;
}
.EmplyeeImg img{
    transition: all .5s;
}
.EmplyeeName{
 float: right;
}
.EmplyeeName p{
    font-size:0.875em;
    color:#373A39;
    margin-bottom: 5px;;
}
.EmplyeeName span{
    font-size: 0.75em;
    color:#373A39
}
.percentageBox{
    width:100%;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
}
.yellowPercBox {
    background-color: #DEC88F;
}
.pinkBox {
    background-color: #E4AE8A;
}
.percBoxHeader{
    height:64px;
    padding:23px 0;
    text-align: center;
}
.percBoxHeader p{
    font-size:.875em;
    color:#373A39;
}
.chartSec{
    padding:28px;
    background-color: white;;
}
.chartWidget{
    margin:auto;
}
.percentageSec{
    padding-top:20px;
    padding-bottom: 28px;
}
.bluePercBox{
    background-color: #90AFC4;
}
.grayBox{
    background-color: #B9B4B0;
}
.commonBox{
background-color: white;
margin-bottom: 30px;
padding:22px 17px;
border-radius: 8px;
height: 500px;
overflow: hidden;
}
.smallBox{
    height: 400px;
}
.commonboxHeader{
    padding-bottom: 11px;
    border-bottom: 1px solid rgba(112, 112, 112, .3)  ;
}
.commonboxHeader h3{
    font-size: 1em;
    color:#373A39;
    float: right;
}
.downloadMenu{
    background-color: #F9F9F9;
    min-width:124px;
    border-radius: 5px;
}
.downloadBtn{
    float:left
}
.downloadMenu .dropdown-item{
    font-size: .875em;
    font-family:"GE-SS-Two-Light";
opacity: .7;
}
.progressParCont{
    margin-top:27px;
}
.progressParTitle{
    font-size:1em;
    color:#373A39;
    position: relative;
    float:right;
    width:30%;
    line-height: .8;
}
.progressParCont:last-child{
    margin-top:12px;
}
.circle{
    width:13px;
    height: 13px;
    border-radius: 50%;
    float:right;
    margin-left:6px;
}
.progressParsec{
    width:55%;
    float:right;
    padding-bottom: 8.5px;
    border-bottom: 2px solid #F9F9F9;
}
.progressParsec span{
    font-size:1em;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.3125em;
}
.progressParsec .progress{
    height:12px;
    border-radius:3px;
    background-color:#E8E6E6;
    margin-bottom: 5px;
}
.progress-bar{
    border-radius: 3px;
    overflow: hidden;
width:0;
}
.progress-bar.active{
    animation: progress 1500ms ease-in 1;
}
@keyframes progress {
    from {
        width: 0;
    }
}
@keyframes progressHeight {
    from {
        height: 0;
    }
}
.progress span{
font-size:21px;

}
.yellowFont{
color:#D0AD5B}
.blueFont{
    color:#90AFC4
}
.grayFont{
    color:#B9B4B0
}
.redBox{
    background-color: #CD7847;
}
.redFont{
   color: #CD7847
}
.totleTitle{
    font-size:1em;
    font-family:"GE-SS-Two-medium";
}
.TotalBox{
    width:141px;
    height:34px;
    border-radius: 8px;
    color:white;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    font-size: 26px;
    display: inline-block;
}
.skyBlue{
    background-color: #BDCFDB;
}
.skyBlueColor{
    color:#BDCFDB;
}
.darkYellow{
    background-color: #D0AD5B;
}
.darkYellowColor{
    color: #D0AD5B; 
}
.darkGrayColor{
    color:#8D8582
}
.darkGray{
    background-color:#8D8582
}
.donateContainer{
    padding-top:35px;
    position: relative;
}
.apexcharts-legend-series:first-child .apexcharts-legend-marker{
    box-shadow: 0 3px 13px #CE7847;
}
.apexcharts-legend-marker{
    margin-left:5px
}
.apexcharts-legend-text{
    font-size: 1em !important;
    font-family:"GE-SS-Two-Light" !important;

}
.apexcharts-legend-series{
    margin-bottom: 10px !important;
    padding:5px !important;;
    border-radius: 20px;
}
.apexcharts-legend-series:first-child{
    background-color:rgba(206, 120, 71, .25)
}
.apexcharts-legend-series:nth-child(2){
    background-color: rgba(141, 133, 130, .23);
}
.apexcharts-legend-series:nth-child(2) .apexcharts-legend-marker{
    box-shadow: 0 3px 13px #8D8582;
}
.apexcharts-legend-series:nth-child(3) .apexcharts-legend-marker{
    box-shadow: 0 3px 13px #90AFC4;
}
.apexcharts-legend-series:nth-child(4) .apexcharts-legend-marker{
    box-shadow: 0 3px 13px #D0AD5B;
}
.apexcharts-legend-series:nth-child(3) {
    background-color:rgba(144, 175, 196, .27)
}
.apexcharts-legend-series:nth-child(4){
    background-color: rgba(208, 173, 91, .12);
}
.lumpImg{
    position: absolute;
    left: 21%;
    top: 135PX;
}
.progressBoxCont{
    padding-top:70px;
}
.gradiantProgress{
    position: relative;
    border-radius: 20px;
    background-color: #F1F1F1;height: 24px;
    direction: ltr;
    font-family: 'Poppins', sans-serif;
   
    font-size:.875em
}
.gradiantProgress-bar{
    -webkit-mask:linear-gradient(#fff 0 0);
    mask:linear-gradient(#fff 0 0);
    color:white;
    border-radius: 20px;
    overflow: hidden;
    text-align: right;
    padding:0 20px
}
.gradiantProgress-bar:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: linear-gradient( to left, #D0AD5B 45%, #8C8481); /* your gradient here */
    z-index: -1;
    border-radius: 20px;
    overflow: hidden;
}
.gradiantProgressCont{
    margin-bottom: 34px;
    margin-top:0;
} 
.apexcharts-tooltip{
    border-radius: 8px;
    overflow: hidden;
}
.apexcharts-tooltip-title {
    background: rgba(118, 158, 145, .67) !important;
    color: white;
  }
  .apexcharts-tooltip-series-group{
    justify-content: right !important;
    text-align: right !important;
  }
  .apexcharts-tooltip-text-value{
    font-size: 11px !important;
    font-weight: 400 !important;
  }
  .apexcharts-tooltip-marker{
    margin-left:10px !important
  }
  .Voteontainer{
    padding-top:30px
  }
  .voteBar{
    width: 100%;
    height: 12px;
    border-radius: 16px;
    overflow: hidden;
    direction: ltr;
    text-align: left;
margin-bottom: 42px;
  }
  .voteBar div{
    height: 100%;
   float: left;
   animation :progress  1500ms ease-in;
   position: relative;
   z-index: 0;
  }
  .redBG{
    background-color: #CE7847;
  }
  .voteResult{
    margin-bottom: 40px;
  }
  .lampIcon{
    width:24px;
    margin-left:25px;
    position: relative;
    float: right;
  }
  .verticalLine{
    content: "";
    position: absolute;
    left:-15px;
    top:0;
    width:8px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
  }
  .voteResultText{
 float: right;
 width:80px;
 text-align: center;
  }
  .voteResultText h3{
    font-size:1em;
    margin-bottom: 5px;
 
  }
  .voteResultText span {
    font-family: 'Tajawal', sans-serif;

  }
  .preiorityBox{
    margin-bottom: 52px;
  }
  .suggest_Container{
    padding-top:77px
  }
  .suggestNumBox{
    height:109px;
    border-radius: 10px;
    background-color: #E8E6E6;
    overflow: hidden;
    position: relative;
  }

  .suggestIcon {
    position: absolute;
    top:0;
    left:32%;
    z-index: 2;
  }
  .suggestIcon .suggNum{
    position: absolute;
    font-size:1em;
    font-family: 'Tajawal', sans-serif;
    color:white;
    bottom: 18px;
    left: 25%;
    z-index: 3;
  }
  .suggestPar{
    width:100%;
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 1;
 
  }
  .suggestPar.active{
    animation: progressHeight 1500ms ease-in 1;
  }
  .suggestNumBoxCateg{
   float: right;
    width:95px;
    height:109px;
    margin-left:25px;
    text-align: center;
  }
  .suggestNumBoxCateg:last-child{
    margin-left: 0;
  }
  .suggestNumBoxCateg p{
    font-size: 0.8125em;
    margin-top: 20px;
  }
.light path {
    transition: all 2s;
    animation: lightBulb 5s linear infinite;
}
.light path.lightScale {
    animation: scale 5s linear infinite;
}
.darkLight path.lightScale{
    animation: darklightBulb 3s linear infinite;   
}
.darkLight path.darklightScale{
animation: darklightScale 3s ease-in infinite;
}
.darkLight path.darklight{
    animation: darklight 3s ease-in infinite;
    }
@keyframes darklight {
    0%{
        fill:#9d9898
    }
    50% {
      fill:#ffe064 
    }
    100% {
     fill:#9d9898 
    }
  }
@keyframes progressHeight {
    from {
        height: 0;
    }
}
@keyframes darklightBulb {
    0%{
        fill:#f8e59a 
    }
    50% {
      fill:#ffe064 
    }
    100% {
     fill:#f1c71e 
    }
  }
@keyframes lightBulb {
    0%{
        fill:white
    }
    50% {
      fill:#ffe064 
    }
    100% {
     fill:#fff 
    }
  }
  @keyframes scale {
    0%{
    opacity: 0;
    fill:#9d9898
    }
    50% {
        opacity: 1;
        fill:#ffe064 
    }
    100% {
        opacity: 0;
        fill:#9d9898 
    }  
}
@keyframes darklightScale {
    0%{
    opacity: 0;
    fill:white
    }
    50% {
        opacity: 1;
        fill:#ffe064 
    }
    100% {
        opacity: 0;
        fill:#fff 
    }  
}
.light path.lightScale2{
    animation: light2 3.2s linear infinite;
    opacity: 0;
}

.light path.lightScale2:nth-child(3){
    animation-delay: 1.8s;
}
.light path.lightScale2:nth-child(4){
    animation-delay: 1.4s;
}
.light path.lightScale2:nth-child(5){
    animation-delay: 1.2s;
  
}
.light path.lightScale2:nth-child(6){
    animation-delay: .8s;
}
.light path.lightScale2:nth-child(7){
    animation-delay: 3s;
}
.light path.lightScale2:nth-child(8){
    animation-delay: 2.6s;
}
.light path.lightScale2:nth-child(9){
    animation-delay: 2.2s;
}
@keyframes light2 {
    0%{
    opacity: 0;
    fill:white
    }
    50% {
        opacity: 1;
        fill:#ffe064 
    }
    100% {
        opacity: 0;
        fill:#fff 
    }  
}
@keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  
  /* @keyframes fireworkPseudo {
    0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
   */
  .firework,
  .firework::before,
  .firework::after
  {
    --initialSize: 0.5vmin;
    --finalSize: 25vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -20vmin;
    --x: -30%;
    --initialY: 10vmin;
    content: "";
    animation: firework 5s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */
      
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      
      /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
      
      /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
      
      /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      
      /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
      ;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }
  
  .firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.9) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(2) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework:nth-child(2) {
    --x: 30vmin;
  }
  
  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;  
    --finalSize: 40vmin;
    left: 50%;
    top: 40%;
    animation-delay: -.5s;
  }
  
  .firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -.5s
  }
  
  .firework:nth-child(4),
  .firework:nth-child(4)::before,
  .firework:nth-child(4)::after {
    --color1: rgb(255, 0, 17);
    --color2: rgb(255, 224, 230);
    --color3: rgb(230, 173, 208);
    --color4: rgb(238, 175, 232);
    --color5: rgb(197, 135, 235);
    --color6: rgb(238, 230, 250);
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -.7s
  }